{% extends "bazowa_templatka.html" %}

{% block title %}
Projekty według statusu
{% endblock %}

{% block content %}
<h1>Projekty wedgług statusu</h1>
<form action="/projekty_wg_status" method="POST">
  <div class="form-group">
    <div class="col-3 col-sm-12">
      <label class="form-label" for="status-input">Status projektu</label>
      <select id="status-input" type="text" class="form-select text-dark" name="status">
        {% for row in db.session.query(Status).all() %}
          <option>{{ row.__dict__['nazwa_status'] }}</option>
        {% endfor %}
      </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Filtruj</button>
    </div>
</form>

{% if not rows %}
<h2>Brak projektów do wyświetlenia</h2>
{% else %}
<table class="table table-scroll bg-dark">
  <thead>
    <tr>
      {% for table_colname in columns %}
        <th>{{ table_colname[1] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
      {% for table_colname in columns %}
        <td>
            <div>{{ row[table_colname[0]].__dict__[table_colname[1]] }}</div>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
