{% extends "bazowa_templatka.html" %}

{% block title %}
Wykaz projektów
{% endblock %}

{% block content %}
<h1>Wykaz projektów</h1>

<table class="table table-scroll bg-dark">
  <thead>
    <tr>
      {% for table_colname in columns %}
        <th>{{ table_colname[1] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
      {% for table_colname in columns %}
        <td>
            <div>{{ row[table_colname[0]].__dict__[table_colname[1]] }}</div>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
